.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: $color-white;

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 4rem;
        padding: 0.5rem;
        margin-bottom: 0.5rem;

        &::before,
        &::after {
            position: absolute;
            bottom: 0;
            content: '';
            width: calc(45% - 3rem);
            height: 1px;
            border-bottom: 1px solid $color-black;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    &__phone {
        width: 25%;

        a {
            font-family: $font_med;
            font-size: 2rem;
            line-height: 2.4rem;
            min-height: 4rem;
            min-width: 4rem;
            display: flex;
            align-items: center;
            
            color: $color-maroon;
    
            @include link_hover();
        }
    }

    &__logo {
        width: 50%;
        margin: 0 auto;
        flex-grow: 1;
        display: flex;
        align-items: center;

        a {
            margin: 0 auto;

            svg {
                fill: $color-black;
            }
        }
    }

    &__search {
        width: 25%;
        display: flex;
        align-items: center;

        a {
            margin-left: auto;
        }
    }
}