.header {
    width: 100%;
    z-index: 1000;
    background-color: $color-footer_bcg;
    position: sticky;
    top: 0;

    &__burger {
        display: none;
        width: 25%;

        @media(max-width: $tablet_width) {
            display: block;
        }
    }

    &__content {
        position: relative;
        display: flex;
        align-items: flex-end;
        min-height: 4rem;
        padding: 0.5rem 0;

        &::before,
        &::after {
            position: absolute;
            bottom: 0;
            content: '';
            width: calc(50% - 6rem);
            height: 1px;
            border-bottom: 1px solid $color-white;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }

        @media(max-width: $tablet_width) {
            order: 3;
            align-items: flex-end;

            &::before,
            &::after {
                display: none;
            }
        }
    }

    &__phone {
        width: 25%;

        a {
            font-family: $font_med;
            font-size: 1.6rem;
            line-height: 2rem;
            min-height: 4rem;
            min-width: 4rem;
            display: flex;
            align-items: center;
            
            color: $color-white;
    
            @include link_hover();
        }

        @media(max-width: $tablet_width) {
            width: 50%;
            order: 2;
            display: flex;
            justify-content: center;
        }

        @media(max-width: 400px) {
            display: none;
        }
    }

    &__logo {
        width: 50%;
        margin: 0 auto;
        flex-grow: 1;
        display: flex;
        align-items: center;

        a {
            margin: 0 auto;

            @media(max-width: $tablet_width) {
               margin: 0;

               svg {
                   width: 6rem;
                   height: 4rem;
               }
            }

            opacity: 1;
            transition: opacity $transition-rules;

            @media(min-width: $tablet_width) {
                &:hover,
                &:focus {
                    opacity: 0.6;
                }
            
                &:active {
                    opacity: 0.6;
                }
            }
        }

        @media(max-width: $tablet_width) {
            width: 25%;
            order: 1;
        }
    }

    &__action {
        width: 25%;
        min-height: 4rem;
        display: flex;
        align-items: center;

        & .social {
            border: 1px solid $color-white;
            border-radius: 5px;
            padding: 0.3rem;

            @media(max-width: $tablet_width) {
                display: none;
            }
        }

        &-cart {
            margin-left: auto;
            margin-right: 1rem;
            svg {
                fill: $color-white;
                transition: fill $transition-rules;
            }

            &:hover,
            &:focus {
                svg {
                    fill: $color-maroon;
                }
            }
        }

        &-burger {
            display: none;
            margin-left: 2rem;
        }

        @media(max-width: $tablet_width) {
            order: 3;

            &-burger {
                display: block;
            }
        }
    }

    @media(max-width: $tablet_width) {

        &.js-mobile-opened {
            position: fixed;

            .nav {
                display: flex;
                height: 100vh;
                width: 100vw;
                position: fixed;
                top: auto;
                left: 0;
        
                display: flex;
                flex-direction: column;
                justify-content: center;
        
                background-color: $color-white;

                transform: translateY(100vh);

                animation: menu 0.5s forwards;
        
                &__list {
                    flex-direction: column;
                }

                &__link {
                    color: $color-black;
                }

                & .social {
                    display: flex;
                    margin: 0 auto;

                    svg {
                        fill: $color-black;
                    }
                }
            }

            @keyframes menu {
                0% {
                    transform: translateY(100vh);
                }

                100% {
                    transform: translateY(0);
                }
            }
        }
    }
}