.social {
    &__list {
        display: flex;
        flex-direction: row-reverse;
    }

    &__item {
        padding: 0 0.5rem;
        a {
            display: block;
            height: 100%;
            width: 100%;
            svg {
                display: block;
                fill: $color-white;
                transition: fill $transition-rules
            }
        }
        @media(min-width: $tablet_width) {
            a:hover,
            a:focus {
                svg {
                    fill: $color-maroon;
                }
            }
        }
    }
}
