section.branding
  .cmn__wrapper
    ul.branding__list
      li.branding__item
        img(src="../assets/img/sale@1x.png" alt="фото1" width="400" height="400")
      li.branding__item
        img(src="../assets/img/sale@1x.png" alt="фото1" width="400" height="400")
      li.branding__item
        img(src="../assets/img/sale@1x.png" alt="фото1" width="400" height="400")
      li.branding__item
        img(src="../assets/img/sale@1x.png" alt="фото1" width="400" height="400")
      li.branding__item
        img(src="../assets/img/sale@1x.png" alt="фото1" width="400" height="400")
      li.branding__item