extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./blocks/cart-page/cart-empty

block modals
  // include ./modals/menuModal