extends layouts/main-layout.pug
include ./mixins/breadcrumbs

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  .contacts-page
    +breadcrumbs([
      {
        pageName: 'Главная', pageUrl: 'index.html'
      },
      {
        pageName: 'Контакты'
      }
    ])

    include ./blocks/contacts-page/contacts

block modals
  // include ./modals/menuModal