extends layouts/main-layout.pug
include ./mixins/breadcrumbs

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  .delivery-page
    +breadcrumbs([
      {
        pageName: 'Главная', pageUrl: 'index.html'
      },
      {
        pageName: 'Доставка и оплата'
      }
    ])

    include ./blocks/delivery-page/delivery
    include ./blocks/delivery-page/payment

block modals
  // include ./modals/menuModal