extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  
  include ./blocks/index/intro
  include ./blocks/index/catalog
  include ./blocks/index/about
  include ./blocks/index/sale
  include ./blocks/index/contacts

block modals
  // include ./modals/menuModal