

extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  
  include ./blocks/search-result-page/search-result

block modals
  include ./modals/sizeModal