.price-filter {
    padding: 1rem;

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    input {
        width: calc(50% - 1rem);
        height: 4rem;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.8rem;
        color: $color-black;
        border: 1px solid black;
        border-radius: 0.5rem;
        padding: 0.5rem;

        &::placeholder {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.8rem;
        }
    }

    &__separator {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        width: 1rem;
        height: 0.2rem;
        background-color: $color-black;
    }
}