section.catalog#catalog
  .cmn__wrapper.catalog__wrapper
    ul.catalog__gallery.gallery
      <li class="gallery__item" style="background-image: url(./assets/img/about_img@1x.jpg);">
        a(href="#" )
          h3.gallery__title Одежда для моряков
      </li>
      <li class="gallery__item" style="background-image: url(./assets/img/about_img@1x.jpg);">
        a(href="#")
          h3.gallery__title Клининг
      </li>
      <li class="gallery__item" style="background-image: url(./assets/img/about_img@1x.jpg);">
        a(href="#")
          h3.gallery__title Фартуки
      </li>
      <li class="gallery__item" style="background-image: url(./assets/img/about_img@1x.jpg);">
        a(href="#")
          h3.gallery__title Головные уборы      
      </li>

      <li class="gallery__item" style="background-image: url(./assets/img/intro-slide_1@1x.jpg);">
        a(href="#")
          h3.gallery__title Рабочая одежда    
      </li>
      <li class="gallery__item" style="background-image: url(./assets/img/about_img@1x.jpg);">
        a(href="#")
          h3.gallery__title Столовый текстиль       
      </li>

      <li class="gallery__item" style="background-image: url(./assets/img/about_img@1x.jpg);">
        a(href="#")
          h3.gallery__title Поварская одежда       
      </li>

      <li  class="gallery__item" style="background-image: url(./assets/img/about_img@1x.jpg);">
        a(href="#") 
          h3.gallery__title Брендирование
        
      </li>
      
      <li  class="gallery__item" style="background-image: url(./assets/img/about_img@1x.jpg);">
        a(href="#")
          h3.gallery__title Распродажа
         
      </li>