section.catalog#catalog
  .cmn__wrapper.catalog__wrapper
    ul.catalog__gallery.gallery
      <li data-aos="fade-up" class="gallery__item gallery__item--1" style="background-image: url(./assets/img/about_img@1x.jpg);">
        a(href="#" )
          h3.cmn__title.cmn__title--med.catalog__title Одежда для моряков
      </li>
      <li data-aos="fade-up" data-aos-delay="150" class="gallery__item gallery__item--2" style="background-image: url(./assets/img/about_img@1x.jpg);">
        a(href="#")
          h3.cmn__title.cmn__title--sm.catalog__title Клининг
      </li>
      <li data-aos="fade-up" data-aos-delay="250" class="gallery__item gallery__item--3" style="background-image: url(./assets/img/about_img@1x.jpg);">
        a(href="#")
          h3.cmn__title.cmn__title--sm.catalog__title Фартуки
      </li>
      <li data-aos="fade-left" data-aos-delay="300" class="gallery__item gallery__item--4" style="background-image: url(./assets/img/about_img@1x.jpg);">
        a(href="#")
          h3.cmn__title.cmn__title--sm.catalog__title Головные уборы      
      </li>

      <li data-aos="fade-right" data-aos-delay="350" class="gallery__item gallery__item--5" style="background-image: url(./assets/img/intro-slide_1@1x.jpg);">
        a(href="#")
          h3.cmn__title.cmn__title--med.catalog__title Рабочая одежда    
      </li>
      <li data-aos="fade-left" data-aos-delay="350" class="gallery__item gallery__item--6" style="background-image: url(./assets/img/about_img@1x.jpg);">
        a(href="#")
          h3.cmn__title.cmn__title--sm.catalog__title Столовый текстиль       
      </li>

      <li data-aos="fade-up" data-aos-delay="400" class="gallery__item gallery__item--7" style="background-image: url(./assets/img/about_img@1x.jpg);">
        a(href="#")
          h3.cmn__title.cmn__title--med.catalog__title Поварская одежда       
      </li>

      <li data-aos="fade-left" data-aos-delay="400" class="gallery__item gallery__item--8" style="background-image: url(./assets/img/about_img@1x.jpg);">
        h3.cmn__title.cmn__title--med.catalog__title Брендирование
        a(href="#") 
          
      
      </li>