-
  const slides = [
    {imageURL: "./assets/img/intro-slide_1", title: "Одежда для моряков Одежда для моряков", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса в Санкт-Петербурге"},
    {imageURL: "./assets/img/about_img", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса" },
    {imageURL: "./assets/img/intro-slide_1", title: "Одежда для моряков", desc: "Одежда для рабочего класса в Санкт-Петербурге" },
    {imageURL: "./assets/img/about_img", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса Одежда для рабочего класса Одежда для рабочего класса"},
  ];

section.intro
  h1.visually-hidden "ООО НИТИ" - производство униформы и тд
  .intro-swiper-container
    .swiper-wrapper
      each slide in slides
        .swiper-slide(style="background-image: url(" + slide.imageURL + "@1x.jpg" + ")")
          .intro-swiper-content.intro__wrapper.cmn__container
            p= slide.desc
            h2.cmn__title.cmn__title--white= slide.title
            a(href="catalog.html").cmn__btn каталог