-
  const items = [
    {imageURL: "./assets/img/sale", title: "товар из раздела распродаж", desc: "описание товара"},
    {imageURL: "./assets/img/sale", title: "товар из раздела распродаж", desc: "описание товара"},
    {imageURL: "./assets/img/sale", title: "товар из раздела распродаж", desc: "описание товара"},
    {imageURL: "./assets/img/sale", title: "товар из раздела распродаж", desc: "описание товара"},
    {imageURL: "./assets/img/sale", title: "товар из раздела распродаж", desc: "описание товара"},
    {imageURL: "./assets/img/sale", title: "товар из раздела распродаж", desc: "описание товара"},
  ];

section.sale 
  .cmn__wrapper.sale__wrapper
    h2.cmn__title.sale__title <span>Распродажа</span>

    .sale-swiper-container
      .swiper-wrapper
        each item in items
          .swiper-slide

            include ../../components/item-card
