@mixin container() {
    margin: 0 auto;
    width: 100%;
    max-width: $desktop_width;
    min-width: $min_width;
    outline: $outline;

    @media(max-width: $tablet_lg_width) {

    }

    @media(max-width: $tablet_width) {
        
    }

    @media(max-width: $mobile_lg_width) {
        
    }
}