//fonts

$main-font: 'Montserrat';

// work

$outline: 1px solid red;

// animation

$transition_rules: 0.3s 0.1s ease;

// widths

$desktop-width: 1640px;
$tablet_lg_width: 1140px;
$tablet_md_width: 960px;
$tablet_width: 768px;
$mobile_lg_width: 534px;
$mobile-width: 320px;

$min-width: $mobile-width;

// colors

$color-white: #ffffff;
$color-black: #000000;
$color-lightblack: #4c4c4c;
$color-footer_bcg: #242424;
$color-black-400: #242424;
$color-maroon: #9c150c;
$color-grey: #d6d6d6;
$color-gray-300: #a8a8a8;
$color-gray-500: #696666;
$color-gray-700: #353434;
$color-green: #00a611;

// links


//shadows

$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
