//fonts

$font_reg: 'Inter-Regular';
$font_med: 'Inter-Medium';
$font_bold: 'Inter-Bold';
$font_semi: 'Inter-SemiBold';

$font_mono: 'SpaceMono-Regular';

// work

$outline: 1px solid red;

// animation

$transition_rules: 0.3s 0.1s ease;

// widths

$desktop-width: 1640px;
$tablet_lg_width: 1140px;
$tablet_width: 768px;
$mobile_lg_width: 534px;
$mobile-width: 320px;

$min-width: $mobile-width;

// colors

$color-white: #ffffff;
$color-black: #000000;
$color-lightblack: #4c4c4c;
$color-footer_bcg: #242424;
$color-maroon: #9c150c;
$color-grey: #d6d6d6;

// links


//btns


// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
