section.about
  .cmn__wrapper.about__wrapper
    .about__info
      p.about__text.about__text--bold
        | Кстати, интерактивные прототипы, инициированные исключительно синтетически, объективно рассмотрены 
        | соответствующими инстанциями. Не следует, однако, забывать, что повышение уровня гражданского 
        | сознания влечет за собой процесс внедрения и модернизации прогресса профессионального сообщества. 
        
      img(src="./assets/img/about_1.jpg" alt="test" width="1324" height="600").about__img-lg

      ul.about__list
        li.about__item
          .about__item-content
            p.about__text 
              | Кстати, интерактивные прототипы, инициированные исключительно синтетически, 
              | объективно рассмотрены соответствующими инстанциями. Не следует, однако, забывать, 
              | что повышение уровня гражданского сознания влечет за собой процесс внедрения и 
              | модернизации прогресса профессионального сообщества. Не следует, однако, забывать, что повышение уровня 
              | гражданского сознания влечет процесс внедрения и модернизации прогресса профессионального сообщества.
            
          img(src="./assets/img/about_1-sm.jpg" alt="test" width="640" height="320")
        
        li.about__item
          .about__item-content
            p.about__text 
              | Кстати, интерактивные прототипы, инициированные исключительно синтетически, 
              | объективно рассмотрены соответствующими инстанциями. Не следует, однако, забывать, 
              | что повышение уровня гражданского сознания влечет за собой процесс внедрения
            
          img(src="./assets/img/about_1-sm.jpg" alt="test" width="640" height="320")

        li.about__item
          .about__item-content
            p.about__text 
              | Кстати, интерактивные прототипы, инициированные исключительно синтетически, 
              | объективно рассмотрены соответствующими инстанциями. Не следует, однако, забывать, 
              | что повышение уровня гражданского сознания влечет за собой процесс внедрения
            
            p.about__text 
              | Кстати, интерактивные прототипы, инициированные исключительно синтетически, 
              | объективно рассмотрены соответствующими инстанциями. Не следует, однако, забывать
            
          img(src="./assets/img/about_1-sm.jpg" alt="test" width="640" height="320")
        
      p.about__text.about__text--bold
        | Кстати, интерактивные прототипы, инициированные исключительно синтетически, объективно рассмотрены 
        | соответствующими инстанциями. Не следует, однако, забывать, что повышение уровня гражданского 
        | сознания влечет за собой процесс внедрения и модернизации прогресса профессионального сообщества.
        
      img(src="./assets/img/about_1-thin.jpg" alt="test" width="1324" height="600").about__img-lg

    .about__history
      h2.about__title История возникновения
      
      ul.about__history-desc
        li
          p.about__text
            | Кстати, интерактивные прототипы, инициированные исключительно синтетически, 
            | объективно рассмотрены соответствующими инстанциями. 
        li
          p.about__text 
            | Не следует, однако, забывать, что повышение уровня гражданского сознания влечет за собой 
            | процесс внедрения и модернизации.
        li  
          p.about__text 
            | Кстати, интерактивные прототипы, инициированные исключительно синтетически, 
            | объективно рассмотрены соответствующими инстанциями.
            | Кстати, интерактивные прототипы, инициированные исключительно синтетически, 
            | объективно рассмотрены соответствующими инстанциями.
     
      img(src="./assets/img/about_1-thin.jpg" alt="test" width="1324" height="600").about__img-lg


      