.burger {
    position: relative;
    padding: 0;
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    background-color: transparent;

    svg {
        fill: $color-black;
    }

    &__opened {
        display: none;
    }

    &__closed {
        display: block;
    }

    &.opened {
        .burger__opened {
            display: block;
            animation: icon-in 1s ease-in forwards;
        }

        .burger__closed {
            display: none;
        }
    }

    &.closed {
        .burger__opened {
            display: none;
        }

        .burger__closed {
            display: block;
            animation: icon-in 1s ease-in forwards;
        }
    }

    @keyframes icon-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}