.item-card {
    display: flex;
    border: 1px solid $color-grey;

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        padding-bottom: 0;
    }

    &__content {
        position: relative;
        height: 100%;
        max-height: calc(100% - 6rem);

        @media(max-width: $tablet_width) {
            max-height: calc(100% - 4rem);
        }
    }

    &__price-box {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 0.5rem;
        border: 1px solid $color-grey;
        background-color: $color-white;

        p {
            color: $color_maroon;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6rem;
        border-top: 1px solid $color-grey;

        @media(max-width: $tablet_width) {
            height: 4rem;
        }
    }

    &__cart-box {
        border-left: 1px solid $color-grey;
        margin-left: auto;

        svg {
            fill: $color-black;
            margin-left: 1rem;

            @media(max-width: $tablet_width) {
                width: 2rem;
                height: 2rem;
            }
        }
    }

    &__btn {
        height: 4rem;
        min-width: 4rem;
        padding: 0 1rem;
        border: none;
        margin-bottom: 0;
    }
}