.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 20%;

    &__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        min-width: 3rem;
        height: 3rem;
        font-family: $font_mono;
        font-size: 1.8rem;
        line-height: 100%;
        color: $color_maroon;
        background-color: transparent;
        cursor: pointer;
        margin: 0 0.1rem;
        transition: opacity $transition-rules, color $transition-rules, background-color $transition-rules;

        &--active {
            cursor: initial;
            color: $color_white;
            background-color: $color_maroon;
        }

        &--disabled {
            opacity: 0.5;
            cursor: initial;
        }

        @media(min-width: $tablet_width) {
            &:not(&--active):not(&--disabled) {
                &:hover,
                &:focus {
                    opacity: 0.7;
                    background-color: $color_maroon;
                    color: $color_white;
                }
            }

        }
    }
}