- 
  catList = [
    {
        name: 'Рабочая одежда'
    },

    {
        name: 'Одежда для моряков',
        class: 'active'
    },

    {
        name: 'ооооооооооочень длинная категория товаров'
    },

    {
        name: 'Клининг'
    },
    
    {
        name: 'Просто так'
    },

    {
        name: 'Рабочая одежда'
    },
    
    {
        name: 'Оджеда для моряков'
    },

    {
        name: 'Рабочая одежда'
    },
    
    {
        name: 'Оджеда для моряков'
    },
  ];

-
  materials = [
    {
        id: '1',
        name: 'канвас',
        class: 'active'
    },

    {
        id: '2',
        name: 'кожзам',
    },

    {
        id: '3',
        name: 'нат. кожа',
    },

    {
        id: '4',
        name: 'смесовая',
    }
  ];

.sidebar 
  .sidebar__categories
    h3.sidebar__title.js-expanded-btn.opened Категории товаров
    ul.sidebar__categories-list.js-expanded-list.expanded
      each catItem in catList
        li.sidebar__categories-item
          a(href="#" class= catItem.class ? catItem.class : null)= catItem.name

  .sidebar__filter.filter
    .filter__params
      span.filter__name.sidebar__title.js-expanded-btn.opened Материал
      ul.filter__list.js-expanded-list.expanded
        each mats in materials
          li.filter__item
            input(type="checkbox" id= mats.id class= mats.class? mats.class : null)
            label(for= mats.id)= mats.name
    