- 
  catList = [
    {
        name: 'Рабочая одежда'
    },

    {
        name: 'Одежда для моряков',
        class: 'active'
    },

    {
        name: 'Ооооооооооочень длинная категория товаров'
    },

    {
        name: 'Клининг'
    },
    
    {
        name: 'Просто так'
    },

    {
        name: 'Рабочая одежда'
    },
    
    {
        name: 'Оджеда для моряков'
    },

    {
        name: 'Рабочая одежда'
    },
    
    {
        name: 'Оджеда для моряков'
    },
  ];


.sidebar 
  .sidebar__categories
    h3.sidebar__title.opened
      span.js-expanded-btn Категории товаров
      svg(width="12" height="12")
        use(xlink:href="#icon-arr-down")

    ul.sidebar__categories-list.expanded

      each catItem in catList
        li.sidebar__categories-item
          a(href="#" class= catItem.class ? catItem.class : null)= catItem.name
  
  .sidebar__filter.filter
    ul.filter__list
      li.filter__item
        h3.sidebar__title
          span.js-expanded-btn Цена
          svg(width="12" height="12")
            use(xlink:href="#icon-arr-down")

        .filter__item-content
          include ./filter-components/price-filter

      li.filter__item
        h3.sidebar__title
          span.js-expanded-btn Материал
          svg(width="12" height="12")
            use(xlink:href="#icon-arr-down")

        .filter__item-content
          include ./filter-components/material-filter

      li.filter__item
        h3.sidebar__title
          span.js-expanded-btn Цвет
          svg(width="12" height="12")
            use(xlink:href="#icon-arr-down")
        .filter__item-content
          include ./filter-components/color-filter
    // button.sidebar__filter-btn.filter-submit Применить все фильтры

        
    