.category {
    padding-top: 2rem;

    &__wrapper {
        display: flex;

        @media (max-width: 660px ) {
           flex-direction: column;
        }
    }

    &__sidebar {
        width: calc(20% - 2rem);
        border-right: 1px dashed $color_maroon;
        height: fit-content;
        position: sticky;
        top: 15rem;

        margin-bottom: 5rem;

        @media (max-width: 1280px ) {
            width: calc(25% - 1.5rem);
        }

        @media (max-width: 960px ) {
            width: calc(30% - 1.5rem);
        }

        @media (max-width: $tablet_width ) {
            top: 7rem;
        }

        @media (max-width: 660px ) {
            width: 100%;
            position: relative;
            top: 0;
            margin-bottom: 2rem;
            border-right: 0;
        }
    }

    &__content {
        width: 80%;
        margin-left: auto;

        @media (max-width: 1280px ) {
            width: 75%;
        }

        @media (max-width: 960px ) {
            width: 70%;
        }

        @media (max-width: 660px ) {
            width: 100%;
        }
    } 

    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 1rem;
        margin-left: 1rem;

        @media (max-width: 660px ) {
            margin-left: 0;
        }

        .category__item {
            display: block;
            width: calc(100%/3 - 1rem);
            height: fit-content;
            max-height: 60rem;
            margin-right: 1rem;
            margin-bottom: 2rem;

            @media (max-width: 1280px ) {
                width: calc(100%/2 - 1rem);
            }

            @media (max-width: 500px ) {
                width: 100%;
            }

            &-header {
                display: block;
                opacity: 1;
                transition: opacity $transition-rules;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    min-height: 50rem;
                    object-fit: cover;

                    @media (max-width: 960px ) {
                        min-height: 40rem;
                    }

                    @media (max-width: $tablet_width ) {
                        min-height: 35rem;
                        max-width: 25rem;
                        margin: 0 auto;
                    }
                }

                &:hover,
                &:focus {
                    opacity: 0.7;
                }
            }

            &-footer {
                display: flex;
                flex-direction: column;
                align-items: center;

                .category__item-title {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    padding: 0.5rem 10%;
                    text-align: center;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 100%;
                    overflow: hidden;
                    color: $color_black;

                    transition: color $transition-rules;
    
                    &:hover,
                    &:focus {
                        color: $color-maroon;
                    }
                
                    &:active {
                        color: $color-maroon;
                    }
                }

                .category__item-price {
                    font-family: $font_mono;
                    font-size: 1.6rem;
                    line-height: 2rem;
                    font-weight: 600;
                    margin-top: auto;
                    color: $color_maroon;
                }
            }
        }
    }
}