.sidebar {
    &__title {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-weight: 500;
        z-index: 100;
        width: 100%;
        cursor: pointer;
        margin-bottom: 1rem;
        color: #242424;
        background-color: $color-white;

        span {
            display: block;
            width: 100%;
            padding: 1.5rem 0;
        }

        svg {
            margin-left: auto;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) rotate(-90deg);
            z-index: -1;
            transition: transform $transition-rules;
        }

        &.opened {
            svg {
                transform: translateY(-50%) rotate(0);
            }
        }

        @media (max-width: $tablet_width ) {
            font-size: 1.4rem;
            line-height: 1.6rem;
            padding-right: 0.5rem;
        }

        @media (max-width: 660px ) {
            font-size: 1.6rem;
            line-height: 1.8rem;
            text-align: center;
        }
    }

    .sidebar__categories {
        position: relative;

        &-list {
            @media (max-width: 660px ) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .sidebar__categories-item {
                width: 100%;

                &:not(:first-child) {
                    margin-top: 1rem;
                }

                a {
                    display: flex;   
                    align-items: center;
                    font-size: 1.6rem;
                    font-weight: 500;
                    min-width: 4rem;
                    min-height: 4rem;
                    padding: 1rem 1.5rem ;
                    color: rgb(105, 102, 102);
                    
                    border: 1px solid #696666;
                    border-radius: 5px;
                    
                    @media (max-width: $tablet_width ) {
                        font-size: 1.4rem;
                        line-height: 1.4rem;
                        padding-right: 0.5rem;
                    }

                    @media (max-width: 660px ) {
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                    }

                    transition: color $transition-rules;

                    &.active {
                        cursor: initial;
                        color: $color_maroon;
                        border-color: $color_maroon;
                    }
            
                    &--disabled {
                        opacity: 0.5;
                        cursor: initial;
                    }
            
                    @media(min-width: $tablet_width) {
                        &:not(&--active):not(&--disabled) {
                                
                            &:hover,
                            &:focus {
                                color: $color-maroon;
                            }
                        
                            &:active {
                                color: $color-maroon;
                            }
                        }
            
                    }
                }

                & > ul {
                    border-left: 2px solid $color-maroon;

                    & > li {
                        padding-left: 1rem;
                    }
                }
            }

            .sidebar__categories-inner {
                display: none;

                &.expanded {
                    display: flex;
                    flex-direction: column;
                    margin-top: 1rem;

                    & > .sidebar__categories-item {
                        a {
                            border: none;
                        }
                    }

                    a {
                        font-weight: 400;
                        border-color: transparent;
                        color: $color-gray-500;
    
                        &.active {
                            color: $color-maroon;
                        }
                    }
                }
            }
        }
    }

    .sidebar__categories,
    .filter__item-content {
        width: 100%;
        overflow: hidden;
        background-color: $color-white;
    }

    .sidebar__categories-list,
    .filter__item-content {
        height: 0;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .sidebar__categories-list.expanded,
    .filter__item-content.expanded {
        height: fit-content;
        max-height: 100%;
        opacity: 1;
    }
}