- 
  imgList = [
    {
        imgUrl: './assets/img/about_img@1x.jpg'
    },

    {
        imgUrl: './assets/img/intro-slide_1@1x.jpg'
    },

    {
        imgUrl: './assets/img/about_img@1x.jpg'
    },

    {
        imgUrl: './assets/img/intro-slide_1@1x.jpg'
    },
    
    {
        imgUrl: './assets/img/about_img@1x.jpg'
    },

    {
        imgUrl: './assets/img/intro-slide_1@1x.jpg'
    },

    {
        imgUrl: './assets/img/about_img@1x.jpg'
    },

    {
        imgUrl: './assets/img/intro-slide_1@1x.jpg'
    }
  ];

section.product-card
  .cmn__wrapper.cmn__container.product-card__wrapper

    .product-card__preview

      .product-card-swiper-container.product-card-slider 
        .swiper-wrapper
          each img in imgList
            .swiper-slide
              .swiper-zoom-container
                img(src=img.imgUrl, alt="товар")
      .product-card-swiper-container.product-card-slider-thumbs(thumbsSlider="")
        .swiper-wrapper
          each img in imgList
            .swiper-slide
              img(src=img.imgUrl, alt="товар")

    .product-card__content
      .product-card__content-header
        span.product-card__art Артикул товара: 001346578
        h1.product-card__title Супер фартук

        p.product-card-desc Фартук состоит из сочетания кожзама на облегченной подкладке. 
        p.product-card-desc Данное изделие не нуждается в излишнем уходе. 
        p.product-card-desc Стильные крестообразные подтяжки разгрузят шейный отдел за счет распределения веса фартука по спине.
        p.product-card-desc Возможен пошив по вашим цветовым пожеланиям.
      
      .product-card__content-main
        .product-card__content-main-wrapper
          b.product-card__price 2400 р.

          .product-card__quantity
            button(type="button" aria-label="удалить").product-card__quantity-btn 	&minus;
            span.product-cart__quantity-value 1
            button(type="button" aria-label="добавить").product-card__quantity-btn 	&plus;

          .product-card__stitch       
            input(type="checkbox" id="stitch")
            label(for="stitch") Нанести вышивку

        button(type="button").product-card__cart-btn Добавить в корзину
          svg(width="16" height="16")
            use(xlink:href="#icon-cart")


      .product-card__content-footer
        ul.product-card__characters
          li.product-card__item
            p.product-card__item-name Наличие:
            p.product-card__item-desc Есть в наличии

          li.product-card__item
            p.product-card__item-name Размеры:
            
            select(name="size")
              option XS
              option S
              option M
            button(data-id="sizeModal").product-card__item-btn.js-open-modal-btn Таблица размеров
          
          li.product-card__item
            p.product-card__item-name Интервал роста:
            select(name="height")
              option 149-154
              option 155-160
              option 161-166
              option 167-172
              option 173-178
              option 179-185
              option 185-190
              option 191-196
              option 197-202
          
          li.product-card__item.product-card__item--colorpicker
            p.product-card__item-name Цвет:

            button.js-colorpicker-opener
            
            select( name="colorpicker" id="colorpicker" required).visually-hidden
              option #ffffff
              option #000000
              option #9c150c
              option #ffffff
              option #000000
              option #9c150c
              option #ffffff
              option #000000
              option #9c150c
              option #ffffff
              
              option #9c150c

            .colorpicker.js-closed
              .colorpicker__wrapper
                

          li.product-card__item
            p.product-card__item-name Материал:
            select( name="color")
              option Хлопок
              option Нат.кожа
              option Канвас      
          