section.cmn.search-result
  .cmn__wrapper.search-result__wrapper
    ul.search-result__list
      li.search-result__item
        form(action="")
          .search-result__item-container
            a(href="#").search-result__preview
              img(src="./assets/img/about_img@1x.jpg" alt="product")
              .search-result__badge
                  span новинка
                  span хит
                    
            .search-result__content
              .search-result__content-info
                a(href="#") название продукта
                p описание продукта описание продукта описание продукта описание продукта описание продукта описание продукта

            .search-result__order
              small арт. 001-2345
              p Цена:
              span.search-result__order-price 5000 руб.
              p Старая цена:
              span.search-result__order-price.search-result__order-price--old 7000 руб.
              button в корзину