$mb: 1rem;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.product-card {
    &__wrapper {
        display: flex;
        padding: 3rem;

        @media(max-width: $tablet_lg_width) {
            padding: 1.5rem;
        }


        @media (max-width: $tablet_width) {
            flex-direction: column;
        }
    }

    &__preview{
        position: sticky;
        top: 140px;
        left: 0;
        height: fit-content;
        display: flex;
        width: 53rem;
        height: 520px;
        margin-right: 2rem;
        overflow: hidden;

        @media(max-width: $tablet_lg_width) {
            top: 125px;
        }

        @media (max-width: $tablet_md_width) {
            width: 378px;
            height: 665px;
            top: 65px;
            margin-right: 1rem;
        }

        @media (max-width: $tablet_width) {
            position: static;
            top: 0;
            margin-right: 0;
            margin-bottom: 3rem;
            width: 100%;

            max-width: 53rem;
            height: 520px;
        }

        @media (max-width: 554px) {
            max-width: 378px;
            height: 665px;
        }
    }

    &__content {
        width: calc(100% - 54rem);

        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;

        @media (max-width: $tablet_md_width) {
            width: calc(100% - 400px);
        }

        @media (max-width: $tablet_width) {
            width: 100%;
        }

        &-header {
            margin-bottom: $mb;
            padding-bottom: 2rem;
            border-bottom: 1px solid $color-gray-500;

            .product-card__title {
                font-weight: 500;
                font-size: 36px;
                margin-bottom: $mb;

                @media(max-width: $tablet_lg_width) {
                    font-size: 2.2rem;
                    margin-bottom: 1.5rem;
                }
            }

            .product-card__art {
                display: inline-block;
                font-weight: 300;
                font-size: 12px;
                padding: 5px;
                margin-bottom: 2rem;
                border: 1px solid $color-gray-500;
                border-radius: 5px;
                color: $color-black;
            }

            .product-card-desc {
                font-size: 1.6rem;
                font-size: 1.6rem;
                margin-bottom: 0.5rem;

                @media(max-width: 960px) {
                    font-size: 1.4rem;
                    font-size: 1.4rem;
                }
            }
        }

        .product-card__chars {
            width: fit-content;
            margin-bottom: 2rem;

            .product-card__item {
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 2rem;

                select {
                    font-size: 1.6rem;
                    padding: 0.5rem;
                    cursor: pointer;
                    border: 1px solid #696666;
                    border-radius: 5px;
                }

                p {
                    display: flex;
                    max-width: fit-content;
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                    padding-right: 1rem;
                }

                &--size {
                    @media(max-width: $tablet_lg_width) {
                        flex-wrap: wrap;
                    }
                }

                &--availability {
                    margin-bottom: 3rem;
                    p {
                        position: relative;
                        padding-left: 12px;

                        &::before {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            width: 7px;
                            height: 7px;
                            content: '';
                            background-color: $color-green;
                            border-radius: 50%;
                        }
                    }
                }

                .product-card__item-btn {
                    @extend .button-default;
                    font-weight: 400;
                    font-size: 14px;
                    text-decoration-line: underline;
                    color: $color-maroon;
                }
            }
        }

        .product-card__price {
            display: inline-block;
            font-weight: 700;
            font-size: 32px;
            margin-bottom: 3rem;
            
            color: $color-maroon;
        }

        .product-card__button-group {
            display: flex;
            align-items:  center;
            height: 4rem;
            margin-bottom: 2.5rem;

            .product-card__btn {
                position: relative;
                display: flex;
                align-items: center;
                height: 100%;
                max-height: 4rem;
                margin-left: 1rem;
                @extend .button-default;
    
                font-weight: 400;
                font-size: 14px;
                color: $color-white;
                background-color: $color-maroon;
                border: 1px solid $color-maroon;
                border-radius: 5px;
                padding: 1rem;
                padding-left: 4rem;
    
                width: fit-content;
        
                svg {
                    position: absolute;
                    top: 50%;
                    left: 1rem;
                    transform: translateY(-50%);
                    transition: fill $transition-rules;
                }
        
                @media(min-width: $tablet_width) {
                    transition: opacity $transition-rules, 
                                border $transition-rules, 
                                color $transition-rules, 
                                background-color $transition-rules;
        
                    &:hover,
                    &:focus {
                        background-color: $color-white;
                        color: $color_maroon;
                        border: 1px solid $color_maroon;
        
                        svg {
                            fill: $color_maroon;
                        }
                    }
        
                    &:active {
                        opacity: 0.7;
                    }
                }
            }
        }


        .product-card__info {
            font-weight: 300;
            font-size: 12px;
            max-width: 60rem;

            color: $color-gray-700;

            a {
                color: $color-maroon;
            }
        }

        &-body {
            padding-top: 2rem;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid $color-gray-500;
        }

        .product-card__description p {
            font-weight: 300;
            font-size: 14px;
            margin-bottom: 1.5rem;
        }

        &-footer {
            padding-top: 2rem;
        }

        .product-card__delivery {
            h3 {
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 1.5rem;
            }

            p {
                font-weight: 400;
                font-size: 14px;
                
                a {
                    color: $color-maroon;
                }
            }
        }
    }

    //common slider styles
    &-swiper-container {
        height: 100%;
        max-height: 52rem;
        overflow: hidden;

        .swiper-slide {
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}