<div id="yandex-map">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad2b82c1933817a0000b6921384833c16bd2be86cf77e3188236fc0829907d3f3&amp;source=constructor" width="100%" height="600" frameborder="0"></iframe>
</div>