-
  const cards = [
    {imageURL: "./assets/img/sale", title: "Одежда для моряков Одежда для моряков", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса в Санкт-Петербурге"},
    {imageURL: "./assets/img/sale", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса" },
    {imageURL: "./assets/img/sale", title: "Одежда для моряков", desc: "Одежда для рабочего класса в Санкт-Петербурге" },
    {imageURL: "./assets/img/sale", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса Одежда для рабочего класса Одежда для рабочего класса"},
    {imageURL: "./assets/img/sale", title: "Одежда для моряков Одежда для моряков", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса в Санкт-Петербурге"},
    {imageURL: "./assets/img/sale", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса" },
    {imageURL: "./assets/img/sale", title: "Одежда для моряков", desc: "Одежда для рабочего класса в Санкт-Петербурге" },
    {imageURL: "./assets/img/sale", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса Одежда для рабочего класса Одежда для рабочего класса"},
    {imageURL: "./assets/img/sale", title: "Одежда для моряков Одежда для моряков", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса в Санкт-Петербурге"},
    {imageURL: "./assets/img/sale", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса" },
    {imageURL: "./assets/img/sale", title: "Одежда для моряков", desc: "Одежда для рабочего класса в Санкт-Петербурге" },
    {imageURL: "./assets/img/sale", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса Одежда для рабочего класса Одежда для рабочего класса"},
    {imageURL: "./assets/img/sale", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса" },
    {imageURL: "./assets/img/sale", title: "Одежда для моряков", desc: "Одежда для рабочего класса в Санкт-Петербурге" },
    {imageURL: "./assets/img/sale", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса Одежда для рабочего класса Одежда для рабочего класса"},
    {imageURL: "./assets/img/sale", title: "Одежда для моряков Одежда для моряков", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса в Санкт-Петербурге"},
    {imageURL: "./assets/img/sale", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса" },
    {imageURL: "./assets/img/sale", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса" },
    {imageURL: "./assets/img/sale", title: "Одежда для моряков", desc: "Одежда для рабочего класса в Санкт-Петербурге" },
    {imageURL: "./assets/img/sale", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса Одежда для рабочего класса Одежда для рабочего класса"},
  ];

section.catalog-inner
  .cmn__wrapper.cmn__container
    .catalog-inner__wrapper
      .catalog-inner__filtration
        include ./components/filter
      ul.catalog-inner__list
        each card in cards
          .catalog-inner__item
            .item-card
              .item-card__wrapper
                .item-card__content
                  a(href="#").item-card__link
                    img(src=card.imageURL + '@1x.png' srcset=card.imageURL + '@2x.png 2x' alt=card.desc)
                    .item-card__price-box
                      p.cmn__text <span class="item-card__price">220000</span> р.
                .item-card__footer
                  a(href="#").cmn__btn.cmn__btn--maroon.item-card__btn Купить
                  .item-card__cart-box
                    a(href="#" aria-label="добавить в корзину")
                      svg(width="30" height="30")
                        use(xlink:href="#icon-cart")
      