.item-card
            .item-card__content
              img(src=item.imageURL + '@1x.png' srcset=item.imageURL + '@2x.png 2x' alt=item.desc)

              .item-card__price-box
                p.cmn__text.item-card__price <span class="item-card__price">220000</span> р.

            .item-card__footer
              .item-card__desc
                h3.cmn__title.cmn__title--sm Фартук Фартук Фартук
              .item-card__cart
                a(href="#" aria-label="добавить в корзину")
                  svg(width="30" height="30")
                    use(xlink:href="#icon-cart")