section.about#about
  .cmn__wrapper.about__wrapper
    .about__content
      h2.cmn__title О нас
      p.cmn__text Курьер доставит заказ по адресу, указанному при оформлении заказа (если по этому адресу доступна курьерская доставка). Стоимость доставки рассчитыввется на сайте в момент оформления заказа и видна сразу
      a(href="#").cmn__btn.cmn__btn--maroon подробнее
    .about__img
        img(src='./assets/img/about_img@1x.jpg' srcset='./assets/img/about_img@2x.jpg 2x' alt="изображение швейного производства")
