section.contacts#contacts
 .contacts__wrapper
    // тут будет яндекс карта 
    span.cmn__text.cmn__text--white нажмите на карту чтобы увеличить
    img(src='./assets/img/map__temp!.png' alt="изображение швейного производства")