-
  const slides = [
    {imageURL: "./assets/img/intro-slide_1", title: "Одежда для моряков Одежда для моряков", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса в Санкт-Петербурге"},
    {imageURL: "./assets/img/intro-slide_1", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса" },
    {imageURL: "./assets/img/intro-slide_1", title: "Одежда для моряков", desc: "Одежда для рабочего класса в Санкт-Петербурге" },
    {imageURL: "./assets/img/intro-slide_1", title: "Одежда для рабочих", desc: "Одежда для рабочего класса в Санкт-Петербурге Одежда для рабочего класса Одежда для рабочего класса Одежда для рабочего класса"},
  ];

section.intro
  h1.visually-hidden "ООО НИТИ" - производство униформы и тд
  .intro-swiper-container
    .swiper-wrapper
      each slide in slides
        .swiper-slide
          img(src=slide.imageURL + '@1x.jpg' srcset=slide.imageURL + '@2x.jpg 2x' alt=slide.desc width="100%" height="100%")
