-
  const items = [
    {imageURL: "./assets/img/sale", title: "", desc: ""},
    {imageURL: "./assets/img/sale", title: "", desc: ""},
    {imageURL: "./assets/img/sale", title: "", desc: ""},
    {imageURL: "./assets/img/sale", title: "", desc: ""},
    {imageURL: "./assets/img/sale", title: "", desc: ""},
    {imageURL: "./assets/img/sale", title: "", desc: ""},
  ];

section.sale 
  .cmn__wrapper.sale__wrapper
    h3.cmn__title.sale__title <span>Распродажа</span>

    .sale-swiper-container
      .swiper-wrapper
        each item in items
          .swiper-slide
            a(href="#" aria-label="товар и раздела распродаж")
              img(src=item.imageURL + '@1x.png' srcset=item.imageURL + '@2x.png 2x' alt=item.desc)
      
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
