.sizeModal.modal
  .sizeModal__wrapper.modal__wrapper
    h2 ОСНОВНЫЕ РАЗМЕРНЫЕ ПРИЗНАКИ ТИПОВЫХ ФИГУР

    table(cellspacing="0")
      tr
        td
          p Интервал роста, см
        td
          p Рост типовой фигуры, см
      tr
        td
          p 149 - 154
        td
          p 152
      tr
        td
          p 155 - 160
        td
          p 158
      tr
        td
          p 161 - 166
        td
          p 164
      tr
        td
          p 167 - 172
        td
          p 170
      tr
        td
          p 173 - 178
        td
          p 176
      tr
        td
          p 179 - 185
        td
          p 182
      tr
        td
          p 185 - 190
        td
          p 188
      tr
        td
          p 191 - 196
        td
          p 194
      tr
        td
          p 197 - 202
        td
          p 200                                                                               

    h2 РАЗМЕРЫ МУЖСКОЙ ОДЕЖДЫ

    table(cellspacing="0")
      tr
        td
          p Размер типовой фигуры
        td
          p Интервал обхвата груди мужчин, см
        td
          p Интервал обхвата бедер мужчин, см

      tr 
        td 
          p 42
        td 
          p 82 - 85
        td 
          p 87 - 90

      tr 
        td 
          p 44
        td 
          p 86 - 89
        td 
          p 91- 92

      tr 
        td 
          p 46
        td 
          p 90 - 93
        td 
          p 93 - 94

      tr 
        td 
          p 48
        td 
          p 94 - 97
        td 
          p 95 - 97

      tr 
        td 
          p 50
        td 
          p 98 - 101
        td 
          p 98 - 99
      tr 
        td 
          p 52
        td 
          p 102 - 105
        td 
          p 100 - 101
      tr 
        td 
          p 54
        td 
          p 106 - 109
        td 
          p 102 - 104
      tr 
        td 
          p 56
        td 
          p 110 - 113
        td 
          p 105 -107
      tr 
        td 
          p 58
        td 
          p 114 - 117
        td 
          p 108 - 110
      tr 
        td 
          p 60
        td 
          p 118 - 121
        td 
          p 111 - 113
      tr 
        td 
          p 62
        td 
          p 122 - 125
        td 
          p 114 - 116
      tr 
        td 
          p 64
        td 
          p 126 - 129
        td 
          p 117 - 119
      tr 
        td 
          p 66
        td 
          p 130 - 133
        td 
          p 120 - 122
      tr 
        td 
          p 68
        td 
          p 134 - 137
        td 
          p 123 - 125
      tr 
        td 
          p 70
        td 
          p 138 - 141
        td 
          p 126 - 128
      tr 
        td 
          p 72
        td 
          p 142 - 145
        td 
          p 129 - 132                                                                                                           
                                        

    h2 РАЗМЕРЫ ЖЕНСКОЙ ОДЕЖДЫ

    table(cellspacing="0")
      tr
        td
          p Размеры типовой фигуры
        td
          p Интервал обхвата груди женщины, см
        td
          p Интервал обхвата бедер женщины, см
      tr
        td
          p 40
        td
          p 78 - 81
        td
          p 83 - 86
      tr
        td
          p 42
        td
          p 82 - 85
        td
          p 87 - 90
      tr
        td
          p 44
        td
          p 86 - 89
        td
          p 91 - 94
      tr
        td
          p 46
        td
          p 90 - 93
        td
          p 95 - 98
      tr
        td
          p 48
        td
          p 94 - 97
        td
          p 99 - 102
      tr
        td
          p 50
        td
          p 98 - 101
        td
          p 103 - 106 
      tr
        td
          p 52
        td
          p 102 - 105
        td
          p 107 - 110 
      tr
        td
          p 54
        td
          p 106 - 109
        td
          p 111 - 113 
      tr
        td
          p 56
        td
          p 110 - 113
        td
          p 114 - 117 
      tr
        td
          p 58
        td
          p 114 - 117
        td
          p 118 - 212
      tr
        td
          p 60
        td
          p 118 - 121
        td
          p 122 - 125
      tr
        td
          p 62
        td
          p 122 - 125
        td
          p 126 - 129
      tr
        td
          p 64
        td
          p 126 - 129
        td
          p 130 - 133
      tr
        td
          p 66
        td
          p 130 - 133
        td
          p 134 - 137
