-
  const cats = [
    {
      title: "Одежда для моряков",
      style: "background-image: url(./assets/img/about_img@1x.jpg);",
      link: "category.html",
    },

    {
      title: "Клининг",
      style: "background-image: url(./assets/img/about_img@1x.jpg);",
      link: "category.html",
    },

    {
      title: "Фартуки",
      style: "background-image: url(./assets/img/intro-slide_1@1x.jpg);",
      link: "category.html",
    },

    {
      title: "Головные уборы",
      style: "background-image: url(./assets/img/about_img@1x.jpg);",
      link: "category.html",
    },

    {
      title: "Рабочая одежда",
      style: "background-image: url(./assets/img/intro-slide_1@1x.jpg);",
      link: "category.html",
    },

    {
      title: "Столовый текстиль",
      style: "background-image: url(./assets/img/about_img@1x.jpg);",
      link: "category.html",
    },

    {
      title: "Поварская одежда",
      style: "background-image: url(./assets/img/intro-slide_1@1x.jpg);",
      link: "category.html",
    },

    {
      title: "Брендирование",
      style: "background-image: url(./assets/img/about_img@1x.jpg);",
      link: "category.html",
    },

    {
      title: "Распродажа",
      style: "background-image: url(./assets/img/intro-slide_1@1x.jpg);",
      link: "category.html",
    },
  ];

section.catalog
  .cmn__wrapper.catalog__wrapper
    ul.catalog__gallery.gallery
      each cat in cats
        <li class="gallery__item" style="#{cat.style}">
          a(href= cat.link)
            h3.gallery__title= cat.title
        </li>