-
  const footer_links = [
    {title: 'Каталог', url: '#catalog'},
    {title: 'Доставка и оплата', url: 'delivery.html'},
    {title: 'О нас', url: '#about'},
    {title: 'Контакты', url: '#contacts'},
  ];

footer.footer
  .cmn__wrapper.footer__wrapper.cmn__container
    .footer__header
      .footer__header-logo
        a(href="index.html" aria-label="логотип")
          svg(width="80" height="60")
            use(xlink:href="#icon-logo")
      ul.footer__header-nav.nav
        each link in footer_links
          li.nav__item
            a.cmn__nav.cmn__nav-link(href=link.url)= link.title
      .footer__social
        include ../common/social
    .footer__bottom 
      span.footer__info Вся представленная на сайте информация, носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437(2) Гражданского кодекса РФ.
      p Cайт разработан: <a href="mailto: yuriybevov@gmail.com"> yuriybevov@gmail.com </a>