header.header
  .cmn__container.cmn__wrapper
    .header__content
      .header__phone
        a(href="tel: +79062723744") +7(906)2723744
      .header__logo
        a(href="index.html" aria-label="логотип")
          svg(width="60" height="40")
            use(xlink:href="#icon-logo")
          
      .header__action
        //.header__search-container
          //input(type="search")
          //svg(width="30" height="30")
            //use(xlink:href="#icon-search")

        a(href="#" aria-label="корзина")
          svg(width="24" height="24")
              use(xlink:href="#icon-cart")
        .header__action-burger
          include ../../components/burger.pug
    include ./nav.pug