header.header
  .cmn__container.cmn__wrapper
    .header__content
      .header__phone
        a(href="tel: +79062723744") +7(906)2723744
      .header__logo
        a(href="index.html" aria-label="логотип")
          svg(width="90" height="60")
            use(xlink:href="#icon-logo")
          
      .header__action
        .header__action-search
          include ../../components/search

        a(href="cart.html" aria-label="корзина").header__action-cart.js-show-minicart
          svg(width="24" height="24")
              use(xlink:href="#icon-cart")

        .minicart
          .minicart__info.empty
            span Корзина пока пуста...
            
          .minicart__info.not_empty
            span Всего товаров:&nbsp;<span> 123 </span>&nbsp;,
            span На сумму:&nbsp;<span> 111160000 </span>&nbsp;руб.

        include ../common/social
        .header__action-burger
          include ../../components/burger.pug
    include ./nav.pug