.info
  .info__wrapper.cmn__wrapper.cmn__container  
    .info__part
        p Наш адрес:
        address г. Санкт- Петербург, ул Ярослава Гашека д.25/77 офис 1

    .info__part
        p Время работы:
        p Пн-Пт  с 9:00 до 18:00

    .info__part
        p Телефон: <a href="tel: +792112345678") class="info__part-mail"> +7 (921) 12345678 </a>

    .info__part
        p E-mail: <a href="mailto: niti@mail.ru") class="info__part-mail"> niti@mail.ru </a>
        