-
  const links = [
    {title: 'Каталог', url: 'catalog.html'},
    {title: 'Доставка и оплата', url: 'delivery.html'},
    {title: 'О нас', url: 'about.html'},
    {title: 'Контакты', url: 'contacts.html'},
  ];
nav.nav
  include ../../components/search
  ul.nav__list
    each link in links
      li.nav__item
        a.cmn__nav-link.nav__link(href=link.url)= link.title
  include ../common/social
