button(aria-label="кнопка открытия меню").burger
  svg(width="35" height="35").burger__opened
    use(xlink:href="#icon-menu_opened")
  svg(width="35" height="35").burger__closed
    use(xlink:href="#icon-menu_closed")