.search
  input(type="text" placeholder="Поиск по каталогу")
  button(type="submit" aria-label="поиск")
    svg(width="20" height="20")
      use(xlink:href="#icon-search")
  .search__result
    p результатов не найдено