.catalog-inner {
    padding-top: 5rem; // temp

    &__wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__filtration {
        width: 20%;
        height: 100%;

        @media(max-width: $mobile_lg_width) {
            width: 40%;
        }
    }

    &__list {
        width: 80%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        margin-bottom: 3rem;
        outline: 1px solid red;
        padding-left: 2%;

        @media(max-width: $mobile_lg_width) {
            flex-direction: column;
            width: 60%;
        }
    }

    &__item {
        width: 23%;
        height: 100%;
        max-height: 40rem;
        margin-right: 2%;
        margin-bottom: 3rem;

        @media(max-width: 960px) {
            width: calc(100% / 3 - 2%);
        }

        @media(max-width: $tablet_width) {
            width: 50% - 2%;
        }

        @media(max-width: $mobile_lg_width) {
            width: 98%;
            max-height: 35rem;
        }


        .item-card {
            width: 100%;
            
            height: inherit;
            max-height: inherit;

            img {
                object-fit: cover;

                @media(max-width: $mobile_lg_width) {
                    object-fit: contain;
                }
            }

            &__price-box {
                top: initial;
                bottom: 1rem;
            }
        }
    }
}