.intro {
    height: calc(100vh - 12rem);
    // min-height: calc(100vh - 12rem);

    @media(max-width: $tablet_width) {
        // height: 60rem;
        //min-height: 60rem;
        //max-height: 100vh;
        height: calc(100vh - 7.7rem);
    }

    &__wrapper {
        height: inherit;
    }

    &-swiper-container {
        width: 100%;
        height: inherit;
        overflow-x: hidden;

        .swiper-slide {
            display: flex;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            overflow: hidden;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                background-image: linear-gradient(to left,transparent 0,rgba(0,0,0,.5) 100%);
                background-repeat: repeat-x;
            }
        }
    }

    &-swiper-content {
        position: relative;
        min-height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        width: 100%;
        max-width: $desktop-width;
        margin: 0 auto;
        z-index: 100;

        @media(max-width: $tablet_lg_width) {
            padding: 3rem;
        }

        @media(max-width: $tablet_width) {
            padding: 2rem;
        }

        p {
            max-width: 80rem;
            font-size: 1.8rem;
            line-height: 2.3rem;
            letter-spacing: 0.03em;
            margin-bottom: 1vh;
            color: $color-grey;

            @media(max-width: $tablet_lg_width) {
                font-size: 1.6rem;
                line-height: 2rem;
            }

            @media(max-width: $tablet_width) {
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
        }

        h2 {
            max-width: 65.5rem;
            margin-bottom: 5vh;
        }

        a {
            position: relative;
            z-index: 100000;
        }
    }
}