.intro {
    
    @media(min-width: $desktop_width) {
        height: 100vh;
    }

    @media(max-width: $desktop_width) {
        height: 760px;
    }

    @media(max-width: $tablet_lg_width) {
        height: 660px;
    }

    @media(max-width: $tablet_width) {
        height: 560px;
    }

    @media(max-width: $mobile_lg_width) {
        height: 460px;
    }

    &__wrapper {
        height: inherit;
    }

    &-swiper-container {
        width: 100%;
        height: inherit;
        overflow-x: hidden;

        .swiper-slide {
            display: flex;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            overflow: hidden;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                background-image: linear-gradient(to left,transparent 0,rgba(0,0,0,.5) 100%);
                background-repeat: repeat-x;
            }
        }
    }

    &-swiper-content {
        position: relative;
        min-height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        width: 100%;
        max-width: $desktop-width;
        margin: 0 auto;
        z-index: 100;

        @media(max-width: $tablet_lg_width) {
            padding: 3rem;
        }

        @media(max-width: $tablet_width) {
            padding: 2rem;
        }

        p {
            max-width: 65%;
            font-size: 1.8rem;
            line-height: 2.3rem;
            letter-spacing: 0.03em;
            margin-bottom: 1.5rem;
            color: $color-grey;

            @media(max-width: $tablet_lg_width) {
                font-size: 1.6rem;
                line-height: 2rem;
            }

            @media(max-width: $tablet_width) {
                font-size: 1.4rem;
                line-height: 1.8rem;
                margin-bottom: 1rem;
            }

            @media(max-width: $mobile_lg_width) {
                max-width: calc(100% - 2rem);
            }
        }

        h2 {
            max-width: 75%;
            margin-bottom: 3rem;

            @media(max-width: $tablet_width) {
                margin-bottom: 2rem;
            }

            @media(max-width: $mobile_lg_width) {
                max-width: 100%;
            }
        }

        a {
            position: relative;
            z-index: 100000;
        }

        &__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}