.intro {
    height: calc(100vh - 12rem);
    min-height: calc(100vh - 12rem);

    @media(max-width: $tablet_width) {
        height: 60vh;
        min-height: 60vh;
    }

    //transition: all 0.5s linear;

    &__wrapper {
        min-height: inherit;
    }

    &-swiper-container {
        width: 100%;
        height: 100%;
        // overflow-x: hidden;
        //min-height: inherit;

        .swiper-wrapper {
            // min-height: inherit;
        }

        .swiper-slide {
            // min-height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &-swiper-content {
        min-height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        width: 100%;
        max-width: $desktop-width;
        margin: 0 auto;

        @media(max-width: $tablet_lg_width) {
            padding: 3rem;
        }

        @media(max-width: $tablet_width) {
            padding: 2rem;
        }

        p {
            max-width: 80rem;
            font-size: 1.8rem;
            line-height: 2.3rem;
            letter-spacing: 0.03em;

            margin-bottom: 2rem;

            color: $color-grey;

            @media(max-width: $tablet_lg_width) {
                font-size: 1.6rem;
                line-height: 2rem;
            }

            @media(max-width: $tablet_width) {
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
        }

        h2 {
            max-width: 65.5rem;
            margin-bottom: 5.5rem;
        }
    }
}